.header_router2{
    background-image: url("../../imgApp/routter-2.jpg");
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
    height: 480px;
    position: relative;
}
.header_router1_color{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(33, 37, 41);
    opacity: 0.8;
}
#NavBar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0  20px;
    position: absolute;
    position: relative;
    z-index: 2;
}
.Nav_text{
    display: flex;
    align-items: center;
}
.Nav_list>li{
    padding-left: 30px;
}
.Nav_list>li>img{
    height: 18px;
    width: 26px;
}
.Nav_list{
    display: flex;
    color: #fff;
    list-style-type: none;
}
.list_children--nav{
    background-color: #52b8cb;
    position: absolute;
    list-style-type: none;
    padding: 0;
    display: none;
    border-radius: 3px;
}
.list_children--nav>li{
    padding: 10px 15px;
}
.list_children--nav>li:hover{
    background-color: #5edafa;
}
.hover:hover  ul {
    display: block;
}
.text_router1{
    position: relative;
    z-index: 32323;
    color: #fff;
    text-align: center;
    top: 105px;
}
.text_router1>h1{
    font-size: 35px;
    font-weight: 700;
}
.Home{
    color: red;
}